body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cardTable {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: auto !important; */
  /* margin: auto !important; */
}

.gameCard {
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  margin: 5px !important;
}

.lineScore {
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: auto !important;
  margin-bottom: 2px !important;
}

.teamStats {
  text-align: center !important;
}

.content {
  padding-bottom: 5px !important;
}

.icon {
  width: 16px;
  margin-right: 2px;
  /* border: 1px solid red; */
  text-align: center;
}

.teamName {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
