body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cardTable {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.gameCard {
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  margin: 5px !important;
}

.lineScore {
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.teamStats {
  text-align: center !important;
}
