body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cardTable {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  /* margin-top: auto !important; */
  /* margin: auto !important; */
}

.gameCard {
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  margin: 10px !important;
  width: 350px !important;
  /* display: flex !important; */
  /* flex-direction: column !important; */
}

.lineScore {
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: auto !important;
  margin-bottom: 2px !important;
  display: flex;
  flex-direction: row;
}

.teamStats {
  text-align: center !important;
}

.content {
  padding-bottom: 5px !important;
}

.icon {
  width: 16px;
  margin-right: 2px;
  /* border: 1px solid red; */
  text-align: center;
}

.teamName {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.situation {
  display: flex;
  justify-content: space-evenly;
}

.mugshot {
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 62px;
}

.situationPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pitch {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}
.ball {
  background-color: green;
}

.strike {
  background-color: red;
}

.out {
  background-color: orange;
}

.notBall {
  border: 1px solid green;
}

.notStrike {
  border: 1px solid red;
}

.notOut {
  border: 1px solid orange;
}

.gameTable {
  width: 100% !important;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
